network:
  version: 2
  ethernets:
    ens192:
      dhcp4: false
      addresses:
        - ${ipv4_address}/${ipv4_netmask}
      gateway4: ${ipv4_gateway}
      nameservers:
        search:
          - ${search_domain}
        addresses: ${nameservers}
local-hostname: ${hostname}
instance-id: ${hostname}